.btn {
  white-space: pre;
}

.txt {
  text-transform: uppercase;
  font-weight: bold;
  white-space: pre;
}

.Prev-Next {
  width: 20%;
}

.likeOff {
  color: #898989;
}
.likeOn {
  color: #bb2d3b;
}
.home:hover {
  color: #bb2d3b;
}
 
.card-detail:hover{
  -webkit-transform:scale(1.0);transform:scale(1.0); 
}

@media (min-width: 576px) {
  .card-detail:hover{
      -webkit-transform:scale(1.3);transform:scale(1.3);
  }
}

.card-favorite{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    
}
.card-favorite:hover{
 -webkit-box-shadow: 10px 10px 14px 2px rgba(170, 159, 58, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(137, 163, 78, 0.47);
}
