 
 
  
.img-fluid {
    mix-blend-mode: screen;
  }
  
.btn-login{
    height: 50px;  
}
    
.img-fluid:hover{
  -webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
}