.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
 background-color: black;  
   
  
    /* Efecto */
  /* background: linear-gradient(  rgba(255, 166, 0, 0.404), rgba(255, 255, 0, 0.425), rgba(76, 0, 130, 0.445), rgba(238, 130, 238, 0.507)), linear-gradient(to right, rgba(255, 166, 0, 0.445), rgba(255, 255, 0, 0.445), rgba(76, 0, 130, 0.575), rgba(238, 130, 238, 0.479)); background-blend-mode:  soft-light, overlay; */
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

 